# Annoying mac files
*.DS_Store

############
## Python ##
############

# ipython notebook directories
.ipynb_checkpoints/

# env files
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.virtualenv/
env/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
!requirements.txt
.sql
\#*
\.#*
# Translations
*.mo

###########
## Misc. ##
###########

.idea/
*.iml


.python-version
**/.data/
**/metadata.json
.vscode/
*.session.sql
.startup.sh
